@model AplicacaoDTI.Models.Produto

@{
    ViewData["Title"] = "Details";
    var lojas = ViewBag.Lojas as List<AplicacaoDTI.Models.Loja>;
    var estoques = ViewBag.Estoques as List<AplicacaoDTI.Models.ItemEstoque>;
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoUnitario)
        </dd>
    </dl>
</div>

@if (estoques != null && estoques.Count > 0)
{
    <h4>Lojas que possuem este produto:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Loja</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var estoque in estoques)
        {
            <tr>
                <td>@estoque.Loja?.Nome</td>
                <td>@estoque.Quantidade</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Nenhuma loja possui este produto em estoque.</p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
